<input type="checkbox">
    <h2><%= @todo.description %></h2>
    <h2><%= @todo.pomodoro_estimate %></h2>
   <h3>Todo #<%= params[:id] %></h3>
    <a href="#"></a>
    <a href="/todo/edit/<%= @todo.id %>" class="button edit-todo-button">Edit</a>
    <a href="/todo/destroy/<%= @todo.id %>" class="button delete-todo-button">Delete</a>
    <a href="/todo/index" class="simple-link">Go back...</a>
